/**** General & Global Formating ****/

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;   
}

#body {
    margin: 0;
    align-items: center;
    background-color: #ffffff;
  
}

.center-format-section {
    display: flex;
    justify-content: space-between;
    padding: 0 15% 0 15%;
}

.dark-bkg {
    background-color: #1F2937;
}

/**** Header & Navbar ****/

#header {
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 1% 15% 1% 15%;
    
}

.logo {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.logo img {
    margin-left: 2px;
    width: 25px;
    height: 25px;
}

.navbar {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    color: #F9FAF8;
    font-weight: light;
}

.navbar a:hover {
    color: #3882F6;
    font-size: 18px;
}

/**** Hero Section ****/

main.center-format-section {
    flex-direction: column;
    margin-top: 100px;
}

#hero {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 5% 15% 5% 15%;
}

.hero-text-container {
    flex: 1;
    padding-right: 25px;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color:#F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.video-container {
    flex: 1;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.button {
    border-radius: 5px;
    border: none;
    padding: 5px 25px 5px 25px;
    color: #1F2937;
    font-weight: bold;
    text-decoration: none;    
}

.button:active {
    background-color: #3882F6;
    color: #E5E7EB; 
}

/**** Information Section ****/

#information {
    flex-direction: column;
    align-items: center;
    margin: 2% 0 2% 0;
    padding: 0 15% 0 15%;
}

h3.text {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

#info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #3882F6;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
}

figcaption.text {
    width: 150px;
    color: #1f2937;
    text-align: justify;
    font-size: 14px;
    margin-top: 10px;
}

/**** Quote Section ****/

#quote {
    flex-direction: column;
    padding: 3% 15% 2% 15%;
    background-color: #E5E7EB;  
}

blockquote {
    font-size: 26px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin: 0;
}

#quote .author {
    text-align: right;
    font-weight: bold;
    width: 100%;
    margin: 0;
}

/*** Annoucement Section ****/

#annoucement-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #3882F6;
    margin: 5% 15% 5% 15%;
    padding: 4%;
    color: #E5E7EB; 
}

.text-container {
    flex: 4;
}

.text-container h4 {
    font-size: 18px;
    margin: 0;
}

.text-container p {
    font-weight: lighter;
    font-size: 14px;
}

#sign-up {
    flex: 1;
    color: #E5E7EB; 
    padding: 10px 0 10px 0;
    margin-left: 10px;
    border: 2px solid #E5E7EB;
    background-color: #3882F6;
}

#sign-up.button:active {
    background-color: #E5E7EB;
    color: #1F2937;
}

/**** Footer ****/
#footer {
    height: 50px;
    display: flex;
    align-items: center;
}

#footer a {
    width: 100%;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #E5E7EB; 
}

/**** MEDIA QUERIES ****/

@media only screen and (max-width: 900px) {

    #header, #information {
        padding: 1% 10% 1% 10%;
    }


    #hero {
        flex-direction: column-reverse;
        align-items: center;
        padding: 5% 10% 5% 10%;
    }

    .hero-text h2 {
        font-size: 36px;
    }

    .video-container {
        margin-bottom: 25px;
        width: 100%;
    }

    #info-container {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 15px;
    }
    
    .post-container {
        width: 30%;
    }

    .img-container {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        border: 3px solid #3882F6;
        overflow: hidden;
    }

    figcaption.text {
        width: 200px;
    }
}

  @media only screen and (max-width: 420px) {

    #header {
        padding: 5% 10% 5% 10%;
    }

    .logo {
        flex: 1;
    }

    .navbar a {
        font-size: 12px;
    }
    
    .navbar a:hover {
        color: #3882F6;
        font-size: 14px;
    }

    #hero {
        justify-content: center;
    }
    
    #quote {
        padding: 5% 10% 5% 10%;
    }

    blockquote, .author {
        font-size: 18px;
    }

    #annoucement-container {
        flex-direction: column;
        margin: 10%;
    }

    .text-container {
        text-align: center;
    }

    #sign-up {
        margin-left: 0;
        padding: 5px 10px 5px 10px;
    }
    
  }